.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icon {
  height: 23px;
  width: 23px;
}
.time {
  font-family: 'Roboto';
  font-size: 17px;
  color: #475569;
}
.title {
  font-family: 'Roboto';
  font-size: 20px;
  color: #475569;
}
.domain {
  font-family: 'Roboto';
  font-size: 18px;
  color: #64748b;
}
.button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
